<h1>Add a Job</h1>

<%= form_for @job do |f| %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.select :company_id, [["Petco", 2],
            ["Launch Academy", 4],
            ["Sloppy Lydia's Pub & Grub", 3],
            ["Ross Inc.", 5],
            ["Ivenix", 7],
            ["Harvest Coop", 8],
            ["Cantata Singers", 9],
            ["Five Guys Burgers & Soggy Chunks of Potato", 1]] %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>
