<h1>Add a Job</h1>

<%= form_for @job do |f| %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.select :company_id, @companies %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>
