<h1><%= @company.name %></h1>

<ul>
  <li><%= @company.location %></li>
  <li><%= @company.industry %></li>
  <li><%= @company.description %></li>
</ul>

<h3><%= link_to "Edit this Company's Info", edit_company_path %></h3>

<h1>Jobs</h1>

<ul>
<% @jobs.each do |job| %>
  <li><%= link_to job.title, job_path(job) %></li>
<% end %>
</ul>
