<!DOCTYPE html>
<html>
<head>
  <title>Muenster</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash.any? %>
    <%= flash[:notice] %>
  <% end %>

<div class="float-left">
  <h1>
    <%= link_to "Jobs", jobs_path %>
    <%= link_to "Companies", companies_path %>
  </h1>
</div>

<div class="float-right">
  <h4>
    <%= link_to "New Job", new_job_path %> |
    <%= link_to "New Company", new_company_path %>
  </h4>
</div>

<br><br>

<hr>

<div>
<%= yield %>
</div>


</body>
</html>
