<!DOCTYPE html>
<html>
<head>
  <title>Muenster</title>
  <link href="/stylesheets/boostrap.css" media="all" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>
  <%= link_to "Jobs", jobs_path %>
  <%= link_to "Companies", companies_path %>
</h1>


<%= yield %>

</body>
</html>
